@page "/Error"
@attribute [AllowAnonymous]
@attribute [ExcludeFromInteractiveRouting]
@using System.Diagnostics

<PageTitle>Fehler · NOOSE</PageTitle>

<h1 class="text-danger">Fehler.</h1>
<h2 class="text-danger">Bei der Verarbeitung deiner Anfrage ist ein Fehler aufgetreten.</h2>

@if (ShowRequestId)
{
    <p>
        <strong>Anfrage-ID:</strong> <code>@RequestId</code>
    </p>
}

<h3>Entwicklungsmodus</h3>
<p>
    Im <strong>Development</strong>-Umfeld werden ausführlichere Informationen zum aufgetretenen Fehler angezeigt.
</p>
<p>
    <strong>Das Development-Umfeld sollte für bereitgestellte Anwendungen nicht aktiviert werden.</strong>
    Es kann dazu führen, dass sensible Informationen aus Ausnahmen für Endnutzer sichtbar werden.
    Zum lokalen Debuggen das <strong>Development</strong>-Umfeld aktivieren, indem die Umgebungsvariable
    <strong>ASPNETCORE_ENVIRONMENT</strong> auf <strong>Development</strong> gesetzt und die App neu gestartet wird.
</p>

@code{
    [CascadingParameter]
    private HttpContext? HttpContext { get; set; }

    private string? RequestId { get; set; }
    private bool ShowRequestId => !string.IsNullOrEmpty(RequestId);

    protected override void OnInitialized() =>
        RequestId = Activity.Current?.Id ?? HttpContext?.TraceIdentifier;
}
